template(name="layout")
  +navBar
  +yield

template(name="navBar")
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href="/") Learning Data with Docker!
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.nav.navbar-nav
            a(href="{{pathFor 'about'}}") About

          li.nav.navbar-nav
            a(href="{{pathFor 'howToUse'}}") How to use it ?

          li.nav.navbar-nav
            a(href="{{pathFor 'ipynb'}}") Try IPyNB

          li.nav.navbar-nav
            a(href="{{pathFor 'rstudio'}}") Try RStudio

          li.nav.navbar-nav
            a(href="{{pathFor 'courses'}}") Study Materials

          //- li.nav.navbar-nav
          //-   +voteForMeLinks

          li.nav.navbar-nav
            a(href="{{pathFor 'wishFeatures'}}") Wish Features
            


        ul.nav.navbar-nav.navbar-right
          li.nav.navbar-nav
            img.img-circle(src="{{user.profile.photo.thumb_link}}",style="margin-right:10px")
          li
            +loginButtons


template(name="about")
  .container
    .row.clearfix
      .col-md-6.column
        +voteForMe

        h1 Motivation
        p Because our community hold MLDM Monday event (MLDM stands for Machine Learning and Data Mining) every week in Taipei, 
          | some of events were in tutorial forms. In those tutorial events, 
          | we found the most difficult thing which barriered students to hands on the programs is 
          | the environment synchronization! 
        i Some codes could be executed in teacher's computer, but could not in student's. 
        p Fortunately, we meet docker ......

        h1 Technologies in this project ... 
        ul
          li
            h3 
              a(href="https://www.docker.com/") Docker
          li  
            h3 
              a(href="https://www.meteor.com/") Meteor
          li
            h3 
              a(href="https://github.com/apocas/dockerode") dockerode
          li  
            h3 
              a(href="https://cloud.google.com/compute/") Google Computer Engine
        
        
      .col-md-6.column
        
        h1 Dockerfiles in this project ... 
        ul
          li 
            h3 
              a(target="_blank",href="https://registry.hub.docker.com/u/c3h3/oblas-py278-shogun-ipynb/") c3h3/oblas-py278-shogun-ipynb
            p (used in Try IPyNB)
          li 
            h3 
              a(target="_blank",href="https://registry.hub.docker.com/u/rocker/rstudio/") rocker/rstudio
            p (used in Try RStudio)

          li 
            h3 
              a(target="_blank",href="https://registry.hub.docker.com/u/c3h3/learning-shogun") c3h3/learning-shogun
            p (used in learning shogun)

          li 
            h3 
              a(target="_blank",href="https://registry.hub.docker.com/u/c3h3/dsc2014tutorial") c3h3/dsc2014tutorial
            p (used in DSC2014Tutorial Series)

        h1 Fetures In the future ... 
        ul
          li
            h3 Create Study Materials & Create Docker Images & Upload them Up
            
          li
            h3 Manage students' resources and docker instances 
            
        
template(name="voteForMe")
  h2 Docker Hack 2014 Compitetion
  h3 If you like this website, please vote for me!
  h4 (due: 2014/11/10 12:00am PST)
  h4 Please like it, tweet it, and plus it one !!!
  iframe(name="f28506ce64" width="80px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.0/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fs-static.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FQjK2hWv6uak.js%3Fversion%3D41%23cb%3Df35d846c2c%26domain%3Dwww.docker.com%26origin%3Dhttps%253A%252F%252Fwww.docker.com%252Ff16338fca4%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fwww.docker.com%2Fcommunity%2Fglobalhackday%2F18&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;width=80" style="border: none; visibility: visible; width: 79px; height: 20px;" class="")
  iframe(id="twitter-widget-5" scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/tweet_button.d58098f8a7f0ff5a206e7f15442a6b30.en.html#_=1415333468150&amp;count=horizontal&amp;hashtags=dockerhackday&amp;id=twitter-widget-5&amp;lang=en&amp;original_referer=https%3A%2F%2Fwww.docker.com%2Fcommunity%2Fglobalhackday%2F%2318&amp;size=m&amp;text=I%20voted%20for%20Learning%20Data%20with%20Docker!%20%20by%20%40C3H3tw%20%40docker&amp;url=https%3A%2F%2Fwww.docker.com%2Fcommunity%2Fglobalhackday%2F18%2F" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 109px; height: 20px;")
  iframe(frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I5_1415333467882" name="I5_1415333467882" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;width=50px&amp;origin=https%3A%2F%2Fwww.docker.com&amp;url=https%3A%2F%2Fwww.docker.com%2Fcommunity%2Fglobalhackday%2F%2318&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en._bVNyeN_bbw.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAGLTcCNVi76pN7FwO7NMq1jDa6m1n12XYA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I5_1415333467882&amp;parent=https%3A%2F%2Fwww.docker.com&amp;pfname=&amp;rpctoken=37358111" data-gapiattached="true" title="+1")
  

template(name="voteForMeLinks")
  //- a(target="_blank",href="https://www.docker.com/community/globalhackday/") Docker Hack 2014 Compitetion (Voting)

  iframe(name="f28506ce64" width="80px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.0/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fs-static.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FQjK2hWv6uak.js%3Fversion%3D41%23cb%3Df35d846c2c%26domain%3Dwww.docker.com%26origin%3Dhttps%253A%252F%252Fwww.docker.com%252Ff16338fca4%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fwww.docker.com%2Fcommunity%2Fglobalhackday%2F18&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;width=80" style="border: none; visibility: visible; width: 79px; height: 20px;" class="")
  iframe(id="twitter-widget-5" scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/tweet_button.d58098f8a7f0ff5a206e7f15442a6b30.en.html#_=1415333468150&amp;count=horizontal&amp;hashtags=dockerhackday&amp;id=twitter-widget-5&amp;lang=en&amp;original_referer=https%3A%2F%2Fwww.docker.com%2Fcommunity%2Fglobalhackday%2F%2318&amp;size=m&amp;text=I%20voted%20for%20Learning%20Data%20with%20Docker!%20%20by%20%40C3H3tw%20%40docker&amp;url=https%3A%2F%2Fwww.docker.com%2Fcommunity%2Fglobalhackday%2F18%2F" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 109px; height: 20px;")
  iframe(frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I5_1415333467882" name="I5_1415333467882" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;width=50px&amp;origin=https%3A%2F%2Fwww.docker.com&amp;url=https%3A%2F%2Fwww.docker.com%2Fcommunity%2Fglobalhackday%2F%2318&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en._bVNyeN_bbw.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAGLTcCNVi76pN7FwO7NMq1jDa6m1n12XYA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I5_1415333467882&amp;parent=https%3A%2F%2Fwww.docker.com&amp;pfname=&amp;rpctoken=37358111" data-gapiattached="true" title="+1")


template(name="howToUse")
  .container
    .row.clearfix
      .col-md-6.column
        +voteForMe
        
        h1 How to use it NOW?
        ul
          li
            h3 
              a(href="{{pathFor 'ipynb'}}") Try IPython Notebook 
          li
            h3 
              a(href="{{pathFor 'rstudio'}}") Try RStudio
              h4 Account: rstudio / Password: rstudio
          li
            h3 
              a(href="{{pathFor 'courses'}}") Try Learning from Study Materials

        h1 Video
        iframe#ytplayer(type="text/html",width="100%", height="400px",src="http://www.youtube.com/embed/f1IAuMTUD2k",frameborder="0",allowfullscreen)

          
      .col-md-6.column
        h1 Please DON'T Do ...
        h4 (Because you are the root on each docker instance ... )
        ul
          li 
            h2 DON'T ATTACT ME ... 
            h3 ( please ~~~ )
          li 
            h2 DON'T USE IMAGE TO ATTACT OTHERS ... 
            h3 ( please ~~~ )
          li 
            h2 DON'T USE TOO MANY MEMORY AND CPU  ... 
            h3 ( please leave some resources to others ~~~ )
          li 
            h2 DON'T DONWLOAD TOO LARGE DATASET  ... 
            h3 ( please leave some resources to others ~~~ )



template(name="wishFeatures")
  .container
    .row.clearfix
      .col-md-12.column
        +chatroom
  



template(name="dockers")
  .container
    .row.clearfix
      .col-md-12.column
        table.table.table-hover
          thead
            th DockerHubImage
            th Creator's Name
            th Create / Delete
          tbody
            if isAdmin
              tr
                td
                  input.dockerImage
                td
                  p {{user.profile.name}}    
                td
                  input.createBt.btn.btn-default(value="Create")

            





template(name="course")
  .container
    .row.clearfix
      //- .col-md-6.column
        
      .col-md-10.column
        
        hr
        h2 Docker:
        input.connectBt.btn.btn-default(value="Try Docker Instance:")        
        iframe#docker(src="http://{{rootURL}}:{{docker.port}}", width="100%", height="550px", scrolling="yes")

        hr
        h2 Reference: 
        iframe#slides(src="{{course.slides}}", width="100%", height="550px", scrolling="auto")
      
      .col-md-2.column
        +chatroom




template(name="courses")
  .container
    .row.clearfix
      .col-md-12.column
        +voteForMe
        h2 Study Materials:
        table.table.table-hover
          thead
            th Name
            th Docker
            th Ref. (Slide/Note/Site)
            th Description
            th Creator's Name
            th Create / Delete
          tbody
            if isCreator
              tr
                td 
                  input.courseName
                td
                  input.dockerImage
                td
                  input.slides
                td
                  input.description
                td
                  p {{user.profile.name}}    
                td
                  input.createBt.btn.btn-default(value="Create")

            each courses
              tr
                td 
                  a(href="{{pathFor 'course' cid=_id}}") {{courseName}}
                td 
                  a(target="_blank",href="https://registry.hub.docker.com/u/{{dockerImage}}") {{dockerImage}}
                td 
                  a(target="_blank",href="{{slides}}") Link
                td {{description}}
                td {{creatorName}}
                td unfeatured 




template(name="analyzer")
  .container
    +voteForMe
    hr
    a.btn.btn-default(target="_blank",href="{{baseImageUrl}}") Browse Base Image ({{docker.baseImage}}) on Docker Hub      
    hr
    //- a.goBt.btn.btn-default(target="_blank",href="http://{{rootURL}}:{{docker.port}}") Go to {{name}} page  
    //- hr
  .container
    .col-md-10.column
      .tabbable
        .tab-pane.active
        
          input.connectBt.btn.btn-default(value="Connect to Docker")        
          iframe#docker(src="http://{{rootURL}}:{{docker.port}}", width="100%", height="550px", scrolling="yes")
            p Your browser does not support iframes.

    .col-md-2.column
      +chatroom



template(name="chatroom")
  .chatroom
    h2 Discuss:
    hr
    input.postChatMsg(placeholder="Chat Message")
    hr
    each chats
      p {{userName}}:
      p {{msg}}
      p(style="font-size:8px") {{createAt}}
      hr
        
        
template(name="pleaseLogin")
  .container
    h2 Please Login ! 

template(name="index")
  .container
    .row.clearfix
      .col-md-5.column
        h2 Video
        iframe#ytplayer(type="text/html",width="100%", height="400px",src="http://www.youtube.com/embed/f1IAuMTUD2k",frameborder="0",allowfullscreen)
      .col-md-1.column
      .col-md-6.column
        +voteForMe

  .container
    .row.clearfix
      .col-md-6.column
        h1 Running Dockers directly! 
        h2 Mining Data immediately !
        h3 You don't need to be cooped in different operation systems anymore! 
        h3 Needn't spend a lot of time to synchronize environments !
        h3 Spend most of time playing data!



      .col-md-1.column
      .col-md-5.column

        img(src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10574319_349490885204086_5397070236425947603_n.jpg?oh=7edbf9c82114fb9b3ff13d0b8cb8295c&oe=54E7AA6D&__gda__=1420486151_73c7713cd908c8193a458b7528063af2",style="width:100%")
  
  .container
    .row.clearfix
      .col-md-5.column
        img(src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10561820_346961382123703_7933261843675077877_n.jpg?oh=8d8928e1990fd1560a50258a22adb700&oe=54E8D6AB&__gda__=1423953442_b6d26f0a4ead48dc23bdbee427367152",style="width:100%")        
      .col-md-1.column
      .col-md-6.column
        h1 In a tutorial event, the most painful thing ... is ...
        ul
          li
            h2 (for teacher) is to synchronize everyone's environment!
          li
            h2 (for student) is "the programs could not be run in my computer, but it runs on teacher's!"
        

  .container
    .row.clearfix
      .col-md-6.column
        h2 Particular Thanks:
        ul
          li
            h3
              a(target="_blank", href="http://www.meetup.com/Taiwan-R/") Taiwan R User Group / MLDM Monday
 
            p which is the largest data mining community in Taiwan. They also host a two-day tutorial session in the Data Science Conference 2014 (Taiwan). 
            a(href="{{pathFor 'courses'}}") (see more on study material) 
          li
            h3 
              a(target="_blank", href="http://www.meetup.com/Docker-Taipei/") Docker Taipei Community

          li
            h3 
              a(target="_blank", href="https://www.slidenow.com/slides") SlideNow!
            p The most easy slides editor, most fancy slides platform. They use a lot of dockers' technology in their infrastructure, and give me lots of help in this hackathon.

      .col-md-1.column
      .col-md-5.column

        img(src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10538054_352644551555386_9147449871248555130_n.jpg?oh=d099265163398f0773c055fce6f32912&oe=54DA6196&__gda__=1423723338_2746cbadaf67d6b5488bdb362a2d3c50",style="width:100%")
  
  