template(name="layout")
  +navBar
  +yield

template(name="navBar")
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href="/") Docker Data
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.nav.navbar-nav
            a(href="{{pathFor 'shogun'}}") IPyNB

          li.nav.navbar-nav
            a(href="{{pathFor 'shogun'}}") RStudio



        ul.nav.navbar-nav.navbar-right
          li.nav.navbar-nav
            img(src="{{user.profile.photo.thumb_link}}")
          li
            +loginButtons

template(name="shogunIndex")
  .container
    .tabbable
      .tab-pane.active
        input.connectBt.btn.btn-default(value="Connect to IPyNB")
        a.goBt.btn.btn-default(href="http://10.255.252.206:{{ipynb.port}}") Go to ipynb page  
        iframe#ipynbframe(src="", width="100%", height="550px")
          p Your browser does not support iframes.

template(name="pleaseLogin")
  h2 Please Login ! 

template(name="index")
  h2 Please Choose the Analyzer:
  ul
    li IPyNB
    li RStudio